/* Interface */

* {
    margin: 0;
}

/* Groups */
fieldset {
    border: solid 1px #E6E6E6;
    padding: 17px;
}

#api_form fieldset {
    width: 1000px;
}

/* Main body */
#main_content{
    width: 1070px;
}
#wrapper {
    width: 1070px;
    margin: 0 auto;
    position: relative;

}
body {
    font: 13px/18px Arial, Tahoma, sans-serif;
    background: #FFF;
}

/* Elements */

.error {
    border-color: #E50029 !important;
}

div.interface_element_horizontal {
	float: left;
	vertical-align: middle;
}

table.interface_element_horizontal {
	vertical-align: middle;
}

.block table.bordered td {
    border: 1px solid #DCDCDC;
    padding: 5px 10px;
}

.block h1 {
    height: 32px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 34px;
    text-shadow: 0 1px #500;

}

.block h1 div {
    display: inline-block;
    height: 32px;
    background: #100280;
    text-align: center;
    padding: 0 13px;
}

.block h1 div {
    display: block;
}

/* Info field */
h2 {
    color: #000000;
    text-transform: uppercase;
    font-size: 17px;
}

h2 div {
    display: block;
    background: #E6E6E6;
    text-align: center;
    height: 20px;
    padding: 5px;
}

/* Buttons */
table.interface_buttons {  
	width:100%;
}

input.interface_button{
	margin:0px;
    border: none;
    background-color: #100280;
    color: white;
    padding:5px;
}


input.submit_button {
    height: 32px;
    width: 98px;
    margin-top: 20px;
    padding: 0;
    border: none;
}

input.interface_del_button{  
    height: 32px;
    margin-top: 20px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

input.interface_add_button{  
    height: 32px;
    margin-top: 20px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

span.interface_expand {
	
}

/* Autocomplete/Combobox */
.content {
    border: 1px solid #919191;
    padding: 17px;
}

.combobox { 
  /* "relative" and "inline-block" (or just "block") are needed
     here so that "absolute" works correctly in children */
  position: relative;
}

.downarrow {
  /* ▾ Outside normal flow, relative to container */
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1px;
  width: 1.25em;
  
  cursor: default;
  nav-index: -1; /* nonfunctional in most browsers */

  border-width: 0px;          /* disable by default */
  border-style: inherit; /* copy parent border */
  border-color: inherit; /* copy parent border */
}
.downarrow::before {
  text-align: center;
  
  /* vertical centering trick */
  position: relative;
  top: 50%;
  display: block; /* transform requires block/inline-block */
  transform: translateY(-50%);
  content: "\25BC";
  font-size: 10px;
  background-color: rgba(231, 240, 245, 1);
}

.autocomplete-suggestions {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 1px solid #999;background: #FFF;cursor: default;overflow: auto;}
.autocomplete-suggestion { padding: 2px 9px; white-space: nowrap; overflow: hidden; font-size: 14px;}
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }


.styled select {
   height: 30px;

   border: 1px solid #919191;
   border-bottom-color: #B3B3B3;
   background-color: #E7F0F5;
   color: #000;
   font: bold 16px/28px Arial, Tahoma, sans-serif;

   text-overflow: ellipsis;
   white-space: nowrap;
}
.styled select:disabled {
    color: #919191;
}

/* Message boxes */

.background_overlay_wait {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,0.3);
  z-index: 100;
  display:none;
}

.background_overlay_wait_form {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,1);
  z-index: 100;
  display:none;
}
.message_box_wait{
    width: 470px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -9em;
    margin-left: -20em;
    border: 2px solid #ccc;
    background-color: #f3f3f3;
    padding: 20px;
    z-index: 101;
    display: none;
}
.message_overlay_wait{
    background-color: #f3f3f3;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.background_overlay_error {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,1);
  z-index: 100;
  display:none;
  text-align: center;
  vertical-align: middle;
  
}
.message_box_error{
    position: fixed;
    top: 10%;
    left: 20%;
	border: 2px solid #100280;
    background-color: #f3f3f3;
    padding: 20px;
    z-index: 102;
    display: none;
}
.message_header_error{
	text-align: center;
    vertical-align: middle;
    background-color: #f3f3f3;
    font-size: 18px;
}
.message_buttons_error{
	text-align: left;
    vertical-align: middle;
    background-color: #f3f3f3;
}

.message_body_error{
	margin: 5px;
	overflow: auto;
    max-width: 770px;
    max-height: 730px;
    background-color: #f3f3f3;
}
